<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
</head>
<body>
    <div>Items in your cart:
    <ul>
        {% for item in cart %}
        <li>{{ item}}</li>
        {% endfor %}
    </ul>
    Your total is: {{ total }}
    </div>
    <div>
        <form action="/menu" method="get">
        <button type="submit" value="go to menu">Add more items</button>
        </form>
    </div>
    <div>
        <form action="/userInfo" method="get">
        <button type="submit" value="go to details">Check Out</button>
        </form>
    </div>
</body>
</html>