<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Information</title>
</head>
<body>
    <form action="/finalized", method="post">
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="lname"><br><br>
        <label for="phoneNum">Phone Number:</label>
        <input type="text" id="phoneNum" name="phoneNum"><br><br>
        <label for="street">Street:</label>
        <input type="text" id="street" name="street"><br><br>
        <label for="city">City:</label>
        <input type="text" id="city" name="city"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>