<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peter's Pizzeria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
    <div class="navigation-container">
        <div class="navigation-content">

        </div>
    </div>
    <div class="introText center">
        <p>Welcome to Peter's Pizzeria!</p>
    <form action="/menu" method="get">
        <button class="button" type="submit" value="go to menu"><span>Menu
        </span></button>
    </form>
</div>

</body>
</html>